.button {
    width: 100%;
    background-color: #f8f8f8;
    padding: 13px;
    border: none;
    border-radius: 8px;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        background-color: rgb(128 129 133 / 40%);
    }
}